In [8]:
# Question 1 
#Write a program to convert specified days into years, weeks and days. Take user input.

d = int(input('Enter number of days : '))
year= d// 365
week=(d%  365 ) // 7
da= (week % 7)
print ("Years : ", year , '\nWeeks : ',week, '\nDays :',da )

Enter number of days :  56

Years :  0
Weeks :  8
Days : 1

In [13]:
# Question 2 
'''
Write a Python program to input basiPython salary of an employee and
calculate its Gross salary according to following:
Basic Salary <= 10000 : HRA = 20%, DA = 80%
Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95%
'''

basic_salary = float (input(' Enter the salary of employee: '))
if basic_salary <= 10000:
        hra = basic_salary * 0.20
        da = basic_salary * 0.80
elif basic_salary <= 20000:
        hra = basic_salary * 0.30
        da = basic_salary * 0.90
else:
        hra = basic_salary * 0.35
        da = basic_salary * 0.95
    
gross_salary = basic_salary + hra + da
print('Gross salary :',gross_salary)

 Enter the salary of employee:  17000

Gross salary : 37400.0

In [14]:
# Question 3 
'''
Write a Python program to input electricity unit charges and calculate total electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill
'''

eu= float(input("Enter the electricity charges in units :"))
if eu <= 50:
        bill = eu * 0.50
elif eu <= 150:
        bill = (50 * 0.50) + ((eu - 50) * 0.75)
elif eu <= 250:
        bill = (50 * 0.50) + (100 * 0.75) + ((eu - 150) * 1.25)
else:
        bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + ((eu - 250) * 1.50)

surc= bill* 0.17
totbill= bill + surc
print( ' Your total bill is :' , totbill, 'rupees' )

Enter the electricity charges in units : 670

 Your total bill is : 1000.35 rupees

In [16]:
# Question 4 
'''
Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''

row =5
for i in range (1,row +1):
  for j in range(i):
    print (i,end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
# Question 5
#Write a Python program to calculate product of digits of a number. Read value of n from user.

n = int (input(' Enter a number :'))
total = 1

while n > 0:
        total *= n % 10
        n //= 10 
    
print ('Multiplication  of digits in above number is :', total)

 Enter a number : 435

Multiplication  of digits in above number is : 60

In [8]:
# Question 6 
'''
Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
oerform following
operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string ‘Hello’ from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append [34, ‘Pune’] to this list.
11. Delete the last element from list.
'''


x = [45, 67, 12, 'Hello', 23.45, 'World']
print(x)
a = 56 in x
print(a)
rev = x[::-1]
print(rev)
if 'Hello' in x :
     x.remove('Hello')
print(x)
x. insert(4, 36)
print(x)
list= x[2:5]
x.append([34,'Pune'])
print(x)
x.pop()

[45, 67, 12, 'Hello', 23.45, 'World']
False
['World', 23.45, 'Hello', 12, 67, 45]
[45, 67, 12, 23.45, 'World']
[45, 67, 12, 23.45, 36, 'World']
[45, 67, 12, 23.45, 36, 'World', [34, 'Pune']]

[34, 'Pune']

In [15]:
# Question 7 
'''
Create a tuple of elements with 5 float values in it and perform following
operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in set.

'''
t = (32.45,42.67,26.00,86.35,69.07)
print(t)
a= list(t)
a.sort()

t= tuple(a)
print(t) 
contains= 50 in a
print(contains)

#t.contains(50)
a= set(t)
a

(32.45, 42.67, 26.0, 86.35, 69.07)
(26.0, 32.45, 42.67, 69.07, 86.35)
False

{26.0, 32.45, 42.67, 69.07, 86.35}

In [44]:
# Question 8
'''
Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:‘king’} and perform following operations.
1. Access the data at key ‘k’.
2. Add a new values ‘z’: ‘zebra’
3. Replace the contents of ‘d’ as ‘dog’
4. Print all the values from this dictionary.
5. Find the length of this dictionary.

'''
dic=  {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':'king'} 
print(dic)
dic['k']
dic['z']= 'ZEbra'
print(dic)
dic['d']= 'dog '
print(dic)
print('Length of dictionary : ', len(dic))

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'ZEbra'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog ', 'k': 'king', 'z': 'ZEbra'}
Length of dictionary :  6

In [42]:
# Question 9
# Write a program to find the second largest element in a list.
list1 = [23,52,37,89,17]
print(list1)
list1.sort(reverse = True)
print('SECOND LARGEST ELEMENT IN THE LIST IS :')
list1[1]

[23, 52, 37, 89, 17]
SECOND LARGEST ELEMENT IN THE LIST IS :

52

In [17]:
# Question 10
'''
This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new contains the same items, in the same order, except that it does NOT
contain the item 'copper'.
'''
metals = [ 'silver','gold', 'iron', 'aluminium ','copper',' brass', 'bronze' ]
print(metals)
metals1 = [ n for n in metals if n != 'copper'] 
print(metals1)

['silver', 'gold', 'iron', 'aluminium ', 'copper', ' brass', 'bronze']
['silver', 'gold', 'iron', 'aluminium ', ' brass', 'bronze']