In [1]:
count = 1
while count<=5:
    print('Faree')
    count = count+1

Faree
Faree
Faree
Faree
Faree

In [2]:
count= 5
while count <= 15:
    print (count)
    count = count+1
print('Task done ')

5
6
7
8
9
10
11
12
13
14
15
Task done

In [3]:
count = 1
res =0
while count <=10:
    res= res+ count
    count += 1
print ('Addition of 1 to 10 numbers :', res)

Addition of 1 to 10 numbers : 55

In [4]:
count =1 
res = 0
while count <=20:
    if count%2==1:
        res = res+ count 
    count +=1
print (res)

100

In [5]:
count = 5 
res =1
while count <= 1:
  res = res* count 
  count-=1
print(res)

1

In [6]:
n = int (input(' Enter a number :'))
total = 0 

while n > 0:
        total += n % 10
        n //= 10 
        print(total)
print ('Addition of digits in above number is :', total)

 Enter a number : 1234

4
7
9
10
Addition of digits in above number is : 10

In [7]:
for n in 12,34,56,78,2.e3,4.00:
 print (n)
 print (n/2)

12
6.0
34
17.0
56
28.0
78
39.0
2000.0
1000.0
4.0
2.0

In [8]:
sum= 0
for n in range(1,20,2):
    sum = sum+n
print ('Addition of odd numbers from 1 to 20 :', sum )

Addition of odd numbers from 1 to 20 : 100

In [9]:
for n in range (0,10):
    print ('Farii')

Farii
Farii
Farii
Farii
Farii
Farii
Farii
Farii
Farii
Farii

In [10]:
for n in 'Farii','Swara':
    print (n)

Farii
Swara

In [11]:
n=int (input(' Enter a number :'))
result = 1
for i in range(1, n + 1):
        result *= i
print ('Factorial :', result)

 Enter a number : 5

Factorial : 120

### Break

In [12]:
for n in range (1,10):
    if n == 5:
        break
print (n)

5

In [13]:
count=0
while count <10:
    print (count)
    if count == 5:
        break
    count+=1

0
1
2
3
4
5

### Continue

In [14]:
for n in range (1,10):
    if n == 5:
        continue
    print (n)

1
2
3
4
6
7
8
9

In [15]:
for n in range (1,13):
    if n%2 == 0:
        continue
    print (n)

1
3
5
7
9
11

In [16]:
print ('*') 
print ('**')
print ('***')

*
**
***

In [18]:
i=1
j=1
while i<=3:
  
    while j<=i:
        print ('*', end = '')
        j=j+1
    i=i+1
    print ()

*
*
*

In [20]:
row =int (input(' Enter number of rows:'))
for i in range (1,row +1):
  for j in range(i):
    print ('*',end = '')
  print()

 Enter number of rows: 5

*
**
***
****
*****