In [1]:
class Employee():   # creayting class
    pass

In [2]:
emp1= Employee()  # creating instance of class
emp2= Employee()

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000002256AAE3B10>
<__main__.Employee object at 0x000002256AAE2F90>

In [5]:
# instance variables

emp1.first='Fareeha'
emp1.last='Modi'
emp1.salary=30000

emp2.first='Swarali'
emp2.last='Lokhande'
emp2.salary=35000

In [6]:
print(emp1.last)

Modi

In [7]:
print(emp2.salary)

35000

In [21]:
class Employee(): 
    def __init__(self , first,last,salary):
        self.first=first
        self.last=last
        self.salary=salary
    def show(self):
        print(self.first +'' + self.last+''+'OK')

In [22]:
emp3=Employee('Aarya','Raul',20000)

In [23]:
print((emp3.last))

Raul

In [24]:
emp3.show()

AaryaRaulOK

## Encapculation

In [39]:
class Employee1(): 
    def __init__(self , first,last,salary):
        self.first=first
        self.last=last
        self.__salary=salary
    def show(self):
        print(self.first +'' + self.last+''+'OK')

In [40]:
emp5=Employee1('Aarya','Raul',39000)
emp6=Employee1('Raiyan','Modi',50000)

In [41]:
print(emp5.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [42]:
print(emp6.show())

RaiyanModiOK
None

## Inheritance

In [43]:
class Inherit1(): 
    def __init__(self , first,last,salary):
        self.first=first
        self.last=last
        self.__salary=salary
    def showw(self):
        print(self.first +'' + self.last+''+'OK')

In [44]:
class Inherit2(Inherit1):
    pass

In [45]:
eemp1= Inherit2('FFF','MMM',30000)

In [70]:
class Person():
    def __init__(self , nm,age,ct):
        self.name= nm
        self.age= age
        self.city= ct 
    def info(self):
        print(self.name)
        print(self.age)
        print(self.city)

In [71]:
p1= Person('Fareeha',18,'pune')

In [72]:
p2= Person('Afifa', 19,'Nagpur ')

In [73]:
print(p1)

<__main__.Person object at 0x000002256B93CF50>

In [74]:
print(p1.name)

Fareeha

In [75]:
print(p1.city)

pune

In [76]:
print(p1.info())

Fareeha
18
pune
None